<a class="main-card-listing row" href="">
    <div class="col-7 d-flex flex-column justify-content-evenly">
        <div>
            <h2>{{ listing.title}}</h2>
            <p>prix de vente {{ listing.price }} €</p>
            <p>kilométrage {{ listing.mileage}} </p>
{#            <p>{{ listing.produced_year }}</p>#}
          <p> {{ listing.createdAt|date('d/m/Y') }} </p>
        </div>
        <p class="m-0"></p>
    </div>
</a>